<div class="jumbotron">
	<h1>About TimeSwappers</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non tortor sit amet velit cursus eleifend. Maecenas ac tellus commodo, facilisis nunc non, feugiat elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus viverra facilisis augue, vitae gravida nulla mollis at. Aliquam elementum scelerisque lacus sed ultricies. Vivamus ac eleifend tellus. Phasellus ultrices sollicitudin facilisis. Donec eget ex eget libero aliquet pretium egestas eget nibh. Integer interdum nisi eget sem ultrices, eget fermentum felis mattis.</p>
</div>