<% provide(:title, 'Get Started') %>

<div class="jumbotron">
	<h1>Give Help or Get Help</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non tortor sit amet velit cursus eleifend.</p>

	<div class="row">
		<div class="col-md-6 offer">
			<h3><%= link_to "I want to get help", get_help_gallery_path %></h3>
			<%= image_tag("placeholders/placeholder-person.jpg") %>
			<p>Find, collaborate with, and pay an expert.</p>
	        <p>
	          	<a class="btn btn-lg btn-primary" href="#" role="button">Get Help &raquo;</a>
		    </p>
		</div>
		<div class="col-md-6 offer">
			<h3><%= link_to "I want to give help", give_help_gallery_path %></h3>
			<%= image_tag("placeholders/placeholder-person.jpg") %>
			<p>Find projects and earn Time Credits.</p>
	        <p>
	          	<a class="btn btn-lg btn-primary" href="#" role="button">Give Help &raquo;</a>
		    </p>
		</div>
	</div>
</div>
