<% provide(:title, 'Get Started') %>

<div class="container-static">
	<div class="container">
		<%= render 'layouts/account_navigation' %>
		<div class="row below-hero">
			<div class="col-md-12 center" >
				<h1>Let's get started!</h1>
				<h2>First, tell us what you're looking for.</h2>
			</div>
		</div>
		<br />
		<div class="row wrapper">
			<div class="col-md-12">
				<div class="col-md-5 center">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					<h3><strong>I want to hire a freelancer</strong></h3>
					<p>Find, collaborate with, and pay an expert.</p>
			        <div class="center-button">
						<%= link_to "Get Help", get_help_new_project_path, class: "btn btn-lg btn-primary" %>
					</div>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-5 center">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					<h3><strong>I'm looking for online work</strong></h3>
					<p>Find freelance projects and grow your business.</p>
			        <div class="center-button">
						<%= link_to "Give Help", gallery_path, class: "btn btn-lg btn-primary" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
