<div class="row" id="start">
	<div class="col-md-12">
		<div class="jumbotron hero">
			<h1>Welcome to the Time Economy</h1>
			<p>Swap a little spare time for the services that you want.</p>
			<p>
				<a class="btn btn-lg btn-primary" href="#" role="button">Begin Swapping &raquo;</a>
			</p>
		</div>
	</div>
</div>

<div class="row" id="what">
	<div class="col-md-12">
    	<div class="jumbotron">
	        <h1>What is TimeSwappers?</h1>
	        <p>It's simple to connect with members so you don't have to beg a friend for help, do-it-yourself, or go without.</p>
			<div class="row">
				<div class="col-md-12">
			        <div class="center-button">
				        <p>
				          	<a class="btn btn-lg btn-primary" href="#" role="button">Begin Swapping &raquo;</a>
					    </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" id="how">
	<div class="col-md-12">
    	<div class="jumbotron">
	        <h1>How to TimeSwap</h1>
	        <p>It's simple to connect with members so you don't have to beg a friend for help, do-it-yourself, or go without.</p>

	        <div class="row">
			    <div class="col-md-12">
			    	<div class="row">
	        	<div class="col-md-12">
			        <div class="row what-is-ts">
				        <div class="col-md-4">
				        	<h3>Step 1: EARN</h3>
				        	<p>time credits by sharing what you're good at.</p>
				        </div>
				        <div class="col-md-8">
				        	<div class="placeholder"></div>
				        </div>
				    </div>

				    <div class="row what-is-ts">
				    	<div class="col-md-4">
							<h3>Step 2: SPEND</h3>
							<p>time credits and Get The Help You Want when you get help from TimeSwappers who have a knack for the skills you lack.</p>
						</div>
						<div class="col-md-8">
							<div class="placeholder"></div>
						</div>
					</div>

					<div class="row what-is-ts">
						<div class="col-md-4">
			        		<h3>Step 3: REVIEW</h3>
			        		<p>your swapping experience and have the same done for you!</p>
			        	</div>
			        	<div class="col-md-8">
			        		<div class="placeholder"></div>
			        	</div>
			        </div>
				    <div class="center-button">
				        <p>
				          <a class="btn btn-lg btn-primary" href="#" role="button">Start Swapping &raquo;</a>
				        </p>
				    </div>
				</div>
			</div>
      	</div>
  	</div>
</div>

<div class="row" id="see">
	<div class="col-md-12">
    	<div class="jumbotron">
	        <h1>See it in Action</h1>
	        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
	        <p>To see the difference between static and fixed top navbars, just scroll.</p>
	        <p>
	          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
	        </p>
      	</div>
  	</div>
</div>

<div class="row" id="safe">
	<div class="col-md-12">
    	<div class="jumbotron">
	        <h1>Safe Swapping</h1>
	        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
	        <p>To see the difference between static and fixed top navbars, just scroll.</p>
	        <p>
	          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
	        </p>
      	</div>
  	</div>
</div>