<% provide(:title, 'Terms of Service') %>

<div class="jumbotron">
	<h1>Terms of Service</h1>
	<p>PLEASE READ THESE TERMS OF USE CAREFULLY. BY REGISTERING FOR AN ACCOUNT OR BY ACCESSING OR USING THE SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS OF USE AND ALL TERMS INCORPORATED BY REFERENCE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT ACCESS OR USE THE SERVICES.</p>

	<ol>
		<li class="policy-list">I understand and agree that TimeSwappers will conduct an identity verification check based on the information and photo I provide when applying for membership.</li>
		<li class="policy-list">I understand and agree that members of TimeSwappers provide Services to the best of their ability and do not guarantee their work.</li>
		<li class="policy-list">I understand and agree that neither TimeSwappers, nor any of its employees, representatives or agents guarantees, or is in any way responsible for, the work provided by any of its members.</li>
		<li class="policy-list">I understand and agree that expenses which may occur for any materials used as part of a TimeSwappers exchange will be paid by the member receiving Services.</li>
		<li class="policy-list">I understand and agree to only exchange lawful Services or goods through the TimeSwappers marketplace.</li>
		<li class="policy-list">I understand and agree that TimeSwappers cannot be held responsible for any injury to persons or damage to property experienced as a result of any service provided or received through the TimeSwappers marketplace.</li>
		<li class="policy-list">I understand and agree to hold TimeSwappers, as well as its employees and/or agents, harmless from any and all claims or liabilities for any activities performed by any member of TimeSwappers.</li>
		<li class="policy-list">I understand and agree to take responsibility for any accident or injuries that I might suffer while on property owned or rented by any TimeSwappers member and waive any claim against that member, TimeSwappers and its employees or agents.</li>
		<li class="policy-list">I assume complete responsibility for the supervision and safety of my family members, including children, and take responsibility for any damage or accident in which my family members may be involved during TimeSwappers exchanges.</li>
		<li class="policy-list">I understand and agree that there will be immediate termination of membership of any member who harasses, harms, or interferes with any other TimeSwappers member.</li>
		<li class="policy-list">I understand and agree that if I use my personal vehicle in rendering service through the TimeSwappers marketplace I will, in accordance with state and local laws, be a legally licensed US driver and keep in effect a current vehicle registration and automobile liability insurance covering at least the state minimum required bodily injury and property damage.</li>
		<li class="policy-list">I pledge not to reveal the contents of the TimeSwappers service website, nor any other documentation provided by my local time bank to non-members, especially any personal information provided. I will not reveal the password for my TimeSwappers account to non- members, and will use reasonable care to protect the password.</li>
		<li class="policy-list">I understand and agree that TimeSwappers is not an employment service and Company does not serve as an employer of any member. As such, TimeSwappers will not be liable for any tax or withholding, including but not limited to unemployment insurance, employer’s liability, social security or payroll withholding tax in connection with your use of member’s Services.</li>
	</ol>

	<hr />

	<h2>Eligibility, Registration, and Account</h2>
	<p>You must be at least 18 years old to access or use the Services. By registering to use our Services, you represent that you are at least 18 years old. In order to access certain areas and features of our Services, you will need to register for an account using either your email address or your login credentials from a third-party social media site. If you register with your email address, you agree to create a unique password that you do not use with any other online product or service. By registering for an account, you further agree to (a) provide accurate, truthful, current and complete information; (b) maintain and promptly update your account information upon any changes; (c) maintain the security of your account by protecting your password and restricting access to your account; (d) promptly notify TimeSwappers if you discover or otherwise suspect any security breaches related to the Services; and (e) take responsibility for all activities that occur under your account and accept all risks of any authorized or unauthorized access.</p>

	<hr />

	<h2>Interactions with Other Members</h2>
	<p>You have sole responsibility when interacting with other members. Our Services provide a platform for members to learn about one another, engage in TimeSwapping activities and communicate with one another. TimeSwappers is not a party to, has no involvement or interest in, makes no representations or warranties as to, and has no responsibility or liability with respect to any communications, transactions, interactions, disputes or any relations whatsoever between you and any other member, person or organization. You are solely responsible for your interactions with other members of our Services. We reserve the right, but have no obligation, to monitor interactions between you and other members of our Services.</p>

	<p>Remember, the TimeSwappers Services are just a platform that enable you to communicate and interact with other people in-person and online. We cannot be responsible for the interactions that you have with other TimeSwappers members, so please use good judgment and keep safety in mind when you use our Services.</p>

	<hr />

	<h2>Identity Verification</h2>
	<p>We cannot and do not confirm each member’s identity. Although we provide tools intended to assist with identity verification, such as our biometric identity tool, you are solely responsible for determining the identity and suitability of others with whom you may interact through our Services. TimeSwappers does not represent or warrant that our tools are sufficient to determine whether it is appropriate for you to interact with another member. Further, we do not endorse any persons who use or register for our Services. We do not investigate or verify any member’s reputation, conduct, morality, criminal background, or any information members may submit to the Services (other than the identity verification tool as described above). We encourage you to take precautions when interacting with other members, particularly when meeting someone in person for the first time.</p>

	<hr />

	<h2>Release of Claims</h2>
	<p>Because our Services are merely a platform, in the event that you have a dispute with one or more members, to the fullest extent permitted by applicable law you release us (and our officers, directors, members, employees, agents and affiliates) from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes. If you are a California resident, you waive California Civil Code 1542, which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.”</p>

	<hr />

	<h2>Member Conduct and Content</h2>
	<p>The Services include interactive areas where you or other members can create, post or store content, messages, materials, data, information, text, music, sound, photos, videos, graphics or other items or materials on the Services (collectively, “Member Content”). You are solely responsible for your use of such interactive areas and agree that your use of these areas is at your own risk.</p>

	<p>Member Content Restrictions. You are solely responsible for any Member Content that you submit, post or transmit via our Services. You agree not to post, upload to, transmit, distribute, store, create or otherwise publish through the Services, Member Content that we believe, in our sole discretion:</p>

	<ol>
		<li class="policy-list">is unlawful, libelous, defamatory, harassing, threatening, invasive of privacy or publicity rights, or that would otherwise create liability or violate any local, state, national or international law;</li>
		<li class="policy-list">contains nudity, sexually explicit content or is otherwise obscene, pornographic, indecent, lewd, suggestive or sexually exploitative of minors;</li>
		<li class="policy-list">may disparage any ethnic, racial, sexual or religious group by stereotypical depiction or is otherwise abusive or inflammatory;</li>
		<li class="policy-list">depicts the use of illicit drugs;</li>
		<li class="policy-list">contains offensive language or images or is otherwise objectionable;</li>
		<li class="policy-list">incites violence or characterizes violence as acceptable, glamorous or desirable;</li>
		<li class="policy-list">contains unsolicited promotions, political campaigning, advertising or solicitations, without our prior written consent;</li>
		<li class="policy-list">contains private or personal information about another person, unless such person has agreed to the disclosure of this information;</li>
		<li class="policy-list">contains viruses, corrupted data or other harmful, disruptive or destructive file viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;</li>
		<li class="policy-list">may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party. By posting Member Content, you represent and warrant that you have the lawful right to distribute and reproduce such Member Content; or</li>
		<li class="policy-list">would constitute, encourage or provide instructions for a criminal offense or violate the rights of any third party. TimeSwappers is not responsible for any Member Content that you or other members post, transmit or store through the Services. We have no obligation to post Member Content from you or anyone else and we may, in our sole discretion, edit, remove or delete any Member Content without notice. If you become aware of Member Content that violates these Terms, you may notify of us such content by contacting <%= mail_to "help@timeswappers.com", "help@timeswappers.com" %>. Enforcement of these Terms, however, is solely in our discretion and the absence of enforcement in some instances does not waive of our right to enforce the Terms in other instances. In addition, these Terms do not create a private right of action on the part of any third party or any reasonable expectation that the Services will not contain any content that is prohibited by such rules.</li>
	</ol>

	<hr />

	<h2>Member Conduct</h2>
	<p>By accessing or using the Services, you agree to act responsibly, exercise good judgment and comply with the Safety Guidelines. In addition, you agree not to:</p>
	<ol>
		<li class="policy-list">use the Services in violation of any applicable law or regulation, including promoting or encouraging any illegal activity;</li>
		<li class="policy-list">infringe the rights of any third party, including without limitation, intellectual property, privacy, publicity or contractual rights;</li>
		<li class="policy-list">use the Services in any manner that could interfere with, disrupt, negatively affect or inhibit other members from fully enjoying the Services or that could damage, disable, overburden or impair the functioning of the Services in any manner;</li>
		<li class="policy-list">use our Services in connection with the distribution of spam (which we define as unsolicited bulk e-mail or any other unsolicited messages of a commercial, religious, romantic, political or other nature not within the intended purposes of the Services);</li>
		<li class="policy-list">stalk, intimidate, threaten or otherwise harass or cause discomfort to any other member of our Services;</li>
		<li class="policy-list">collect or store any information about any other member other than as permitted on our Services; or</li>
		<li class="policy-list">use our Services for any commercial purpose whatsoever.</li>
	</ol>

	<hr />

	<h2>Member Content License</h2>
	<p>You own all of the Member Content that you post to our Services. If you post Member Content to our Services, you hereby grant us a perpetual (i.e. lasting forever), worldwide, irrevocable, non-exclusive, royalty-free and fully sublicensable (i.e. we can grant this right to others) license to use, reproduce, display, perform, adapt, modify, create derivative works from, distribute, have distributed and promote such Member Content in any form, in all media now known or hereinafter created (including in emails or other communications to our members) to administer, operate, develop and otherwise provide the TimeSwappers Services. You represent and warrant that (a) you own and control all of the rights to the Member Content that you post or you otherwise have the right to post such Member Content to the Services; (b) the Member Content is accurate and not misleading; and (c) the use and posting of the Member Content you supply does not violate these Terms and will not violate any rights of or cause injury to any person or entity. You own the Member Content that you post to our Services. If Member Content contains information about you, our Privacy Policy will apply, and we encourage you to review this policy for information about how we can use and share such information.</p>

	<hr />

	<h2>Services</h2>
	<p>Unless otherwise indicated, the Services and all content and other materials on the Services, including, without limitation, the TimeSwappers logo, and all designs, text, graphics, pictures, videos, information, data, software, sound files and other files, and the selection and arrangement thereof, (collectively, the “TimeSwappers Materials”) are the proprietary property of TimeSwappers or our licensors or members and are protected by U.S. and international copyright laws.</p>

	<p>You are granted a limited, non-exclusive and non-sublicensable license to access and use the Services and TimeSwappers Materials; however, such license is subject to these Terms and does not include: (a) any resale or commercial use of the Services or the TimeSwappers Materials; (b) the distribution, public performance or public display of any TimeSwappers Materials; (c) modifying or otherwise making any derivative uses of the Services and the TimeSwappers Materials, or any portion thereof, unless modification or derivative use is specifically permitted under applicable law or provided for under separate terms; (d) use of any data mining, robots or similar data gathering or extraction methods; (e) downloading (other than the page caching) of any portion of the Services, the TimeSwappers Materials or any information contained therein, except as expressly permitted on the Services; or (f) any use of the Services or the TimeSwappers Materials other than for their intended purposes. Any use of the Services or the TimeSwappers Materials other than as specifically authorized herein, without the prior written permission of TimeSwappers, is strictly prohibited and will terminate the license granted herein. Such unauthorized use may also violate applicable laws, including without limitation copyright and trademark laws. Unless explicitly stated herein, nothing in these Terms shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time.</p>

	<hr />

	<h2>Repeat Infringer Policy</h2>
	<p>In accordance with the Digital Millennium Copyright Act (“DMCA”) and other applicable law, TimeSwappers has adopted a policy of terminating, in appropriate circumstances and in TimeSwappers’ sole discretion, members who are deemed to be repeat infringers. TimeSwappers may also, in our sole discretion, limit access to the Services and/or terminate the accounts of any members who we believe may infringe any intellectual property rights of others, whether or not there is any repeat infringement.</p>

	<hr />

	<h2>Trademarks</h2>
	<p>“TimeSwapp,” “TimeSwappers,” the TimeSwappers logos and any other TimeSwappers service name or slogan contained on the Services are trademarks of TimeSwappers and may not be copied, imitated or used, in whole or in part, without the prior written permission of TimeSwappers or the applicable trademark holder. You may not use any metatags or any other “hidden text” utilizing “TimeSwappers” or any other name, trademark or product or service name of TimeSwappers without our prior written permission. In addition, the look and feel of the Services, including all page headers, custom graphics, button icons and scripts, are the service mark, trademark and/or trade dress of TimeSwappers and may not be copied, imitated or used, in whole or in part, without our prior written permission. All other trademarks, registered trademarks, product names and names or logos mentioned in the Services are the property of their respective owners. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by us. Our logo and the terms “TimeSwappers” and “TimeSwapper”, as well as other terms and visual elements that you might see throughout the TimeSwappers Services, are protected trademarks.</p>

	<hr />

	<h2>Third-Party Content</h2>
	<p>In using our Services, you may be exposed to content from other members or third parties (“Third-Party Content”), either on our Services or through links to third-party websites. We do not control, endorse or adopt any Third-Party Content and shall have no responsibility for Third-Party Content, including without limitation material that may be misleading, incomplete, erroneous, offensive, indecent or otherwise objectionable. You must evaluate, and bear all risks associated with, Third-Party Content, including without limitation, profiles of other members of our Services. We incorporate Google Maps into the Services as a convenience to you. By using this feature of the Services, you agree to be bound by Google’s Terms of Use.</p>

	<hr />

	<h2>Termination</h2>
	<p>If you are in breach of these Terms, or any other policies or community standards we have in place from time to time, we may, in our discretion at any time: (a) terminate your access to our Services, (b) deactivate or delete your account and all related information and files in such account and/or (c) bar your access to any of such files or Services. In any of these instances, you are not permitted to register for another TimeSwappers account without our prior written permission. In rare circumstances, when we feel it is necessary to protect the safety or the well being of the TimeSwappers community, we will remove a member’s account from our Services. We don’t take this decision lightly, but it is sometimes required.</p>

	<hr />

	<h2>Membership Cancellation</h2>
	<p>You may cancel your TimeSwappers membership any time by visiting Your Account and adjusting your membership settings. We will refund your membership fee only if you and your account has not utilized the TimeSwappers service to exchange, swap or provide any service of any kind. We will not refund membership fees, in part or in whole, after any member has redeemed a promotional offer of any kind or engaged in TimeSwapping activity with other members, either by providing or receiving services. We will not refund membership fees for any member who has breached the Terms of TimeSwappers or whose account has been deactivated or suspended due to the member breaching Terms.</p>

	<hr />

	<h2>Discontinuance of Services</h2>
	<p>We may, in our discretion and without liability to you, with or without prior notice and at any time, modify or discontinue, temporarily or permanently, any portion of our Services.</p>

	<hr />

	<h2>Member's Representations and Warranties</h2>
	<p>You hereby represent and warrant that you have the full power and authority to enter into and perform under these Terms. If you are using our Services on behalf of any entity, you represent and warrant that you are authorized to accept these Terms on such entity’s behalf.</p>
	<p>You hereby represent and warrant that you will use our Services in a manner consistent with any and all applicable local, state, national and international laws and regulations, including, but not limited to, United States export-control laws.</p>
	<p>If you are (a) located in, under the control of, or a national or resident of any country to which the United States has embargoed goods or services, (b) identified as a “Specially Designated National”, or (c) placed on the Commerce Department’s Denied Persons List, you represent and warrant that you will not engage in financial transactions with, or commercial activities on, TimeSwappers (including making payments in connection with any identity verification tools provided by TimeSwappers). Without limiting the foregoing, you are solely responsible for determining whether you have complied with travel restrictions to and from certain countries, including travel to and from countries other than the U.S.</p>
	<p>You hereby represent and warrant that you will not use the Services if the laws of your country prohibit you from doing so in accordance with these Terms (for example, if you are not allowed to provide the types of personal information that we require or if you are prohibited from participating in certain Internet activity). By using the Services, you represent and warrant that such use will not violate, or cause us to violate, the laws of your country.</p>

	<hr />

	<h2>Disclaimer of Warranties</h2>
	<p>IF YOU USE OUR SERVICES, YOU DO SO AT YOUR SOLE RISK. OUR SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, WE EXPRESSLY DISCLAIM, AND YOU WAIVE, ALL OTHER WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO THE SERVICES, INCLUDING THE INFORMATION, CONTENT AND MATERIALS CONTAINED THEREIN.</p>
	<p>WE DO NOT REPRESENT OR WARRANT THAT (A) OUR SERVICES WILL MEET YOUR REQUIREMENTS; (B) OUR SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE; (C) ANY INFORMATION THAT YOU MAY OBTAIN THROUGH OUR SERVICES WILL BE ACCURATE OR RELIABLE; (D) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH OUR SERVICES WILL MEET YOUR EXPECTATIONS; (E) ANY INFORMATION YOU PROVIDE OR WE COLLECT WILL NOT BE DISCLOSED TO THIRD PARTIES; OR (F) ANY ERRORS IN ANY DATA OR SOFTWARE WILL BE CORRECTED.</p>
	<p>IF YOU ACCESS OR TRANSMIT ANY CONTENT THROUGH THE USE OF OUR SERVICES, YOU DO SO AT YOUR OWN DISCRETION AND YOUR SOLE RISK. YOU ARE SOLELY RESPONSIBLE FOR ANY LOSS OR DAMAGE ARISING OUT OF SUCH ACCESS OR TRANSMISSION; THEREFORE, YOU SHOULD USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES FROM ANY DOWNLOAD. NO DATA, INFORMATION OR ADVICE OBTAINED BY YOU IN ORAL OR WRITTEN FORM FROM US OR THROUGH OR FROM OUR SERVICES WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS.</p>

	<hr />

	<h2>Limits on Liability</h2>
	<p>SUBJECT TO APPLICABLE LAW, IN NO EVENT SHALL TIMESWAPPERS, OR OUR DIRECTORS, MEMBERS, EMPLOYEES OR AGENTS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, INCLUDING, BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, ARISING FROM OR RELATING TO: (A) THE USE OR INABILITY TO USE OUR SERVICES; (B) THE COST OF REPLACEMENT OF ANY GOODS, SERVICES OR INFORMATION PURCHASED OR OBTAINED AS A RESULT OF ANY INFORMATION OBTAINED FROM OR TRANSACTIONS ENTERED INTO THROUGH OR FROM OUR SERVICES; (C) DISCLOSURE OF, UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR CONTENT; (D) DAMAGES FOR LOSS OR CORRUPTION OF DATA OR PROGRAMS, SERVICE INTERRUPTIONS OR PROCUREMENT OF SUBSTITUTE SERVICES, EVEN IF WE KNOW OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES; (E) STATEMENTS, CONDUCT OR OMISSIONS OF ANY SERVICE PROVIDERS OR OTHER THIRD PARTY ON OUR SERVICES; (F) YOUR OR ANYONE ELSE’S CONDUCT OR ACTS IN CONNECTION WITH THE USE OF THE SERVICES; OR (G) ANY OTHER MATTER ARISING FROM, RELATING TO OR CONNECTED WITH OUR SERVICES OR THESE TERMS.</p>
	<p>WE SHALL NOT BE LIABLE FOR ANY FAILURE OR DELAY IN PERFORMING UNDER THESE TERMS, WHETHER OR NOT SUCH FAILURE OR DELAY IS DUE TO CAUSES BEYOND OUR REASONABLE CONTROL.</p>
	<p>IN NO EVENT WILL OUR AGGREGATE LIABILITY TO YOU OR ANY THIRD PARTY IN ANY MATTER ARISING FROM OR RELATING TO OUR SERVICES OR THESE TERMS EXCEED THE SUM OF ONE HUNDRED US DOLLARS ($100).</p>
	<p>NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THESE TERMS, NOTHING IN THESE TERMS EXCLUDES OR LIMITS OUR LIABILITY FOR DEATH OR PERSONAL INJURY CAUSED BY OUR NEGLIGENCE OR FOR FRAUD.</p>

	<hr />

	<h2>Indemnity</h2>
	<p>You shall defend, indemnify and hold harmless TimeSwappers (and each of our officers, directors, members, employees, agents and affiliates) from any claim, demand, action, damage, loss, cost or expense, including without limitation reasonable attorneys’ fees, arising out of or relating to (a) your use of our Services; (b) any Member Content or Submissions you provide; (c) your violation of these Terms; (d) your violation of any rights of another; or (e) your conduct in connection with the Services. Further, if you are using the Services on behalf of any entity, you represent and warrant that such entity agrees to indemnify you and TimeSwappers for violations of these Terms in accordance with this Section. If you are obligated to indemnify us, we will have the right, in our sole and unfettered discretion, to control any action or proceeding and determine whether we wish to settle it, and if so, on what terms.</p>

	<hr />

	<h2>Reporting Misconduct</h2>
	<p>If you interact with anyone through our Services who you feel is acting or has acted inappropriately, including but not limited to offensive, violent or sexually inappropriate behavior, who steals from you or engages in any other disturbing conduct, we strongly encourage you to immediately report such person to the appropriate authorities and to us by contacting us using the TimeSwappers Help Center. Please note that although we encourage you to report misconduct, we are not responsible or liable for our members’ actions, and we are not obligated to take any action.</p>

	<hr />

	<h2>Disputes</h2>
	<p>PLEASE READ THE FOLLOWING PARAGRAPH CAREFULLY BECAUSE IT REQUIRES YOU TO ARBITRATE DISPUTES WITH TIMESWAPPERS AND IT LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF.</p>
	<p>You and TimeSwappers agree to arbitrate any dispute arising from these Terms or relating to the Services, except that you and TimeSwappers are not required to arbitrate any dispute in which either party seeks equitable or other relief for the alleged unlawful use of copyrights, trademarks, trade names, logos, trade secrets or patents.</p>
	<p>SUBJECT TO ANY RIGHTS YOU MAY HAVE UNDER APPLICABLE LAW, ARBITRATION PREVENTS YOU FROM SUING IN COURT OR FROM HAVING A JURY TRIAL.</p>
	<p>You and TimeSwappers agree that you will notify each other of any dispute within thirty (30) days of when it arises, that you will attempt informal resolution prior to any demand for arbitration, that any arbitration will occur in Austin, Texas and that arbitration will be conducted confidentially by a single arbitrator in accordance with the Rules of the American Arbitration Association. You and TimeSwappers also agree that the state or federal courts in Travis County, Texas have exclusive jurisdiction over any appeals of an arbitration award and over any suit between the parties not subject to arbitration. Other than class procedures and remedies discussed below, the arbitrator has the authority to grant any remedy that would otherwise be available in court.</p>
	<p>WHETHER THE DISPUTE IS HEARD IN ARBITRATION OR IN COURT, YOU AND TIMESWAPPERS WILL NOT COMMENCE AGAINST THE OTHER A CLASS ACTION, CLASS ARBITRATION OR OTHER REPRESENTATIVE ACTION OR PROCEEDING.</p>

	<hr />

	<h2>Miscellaneous</h2>
	<p>Assignment. You may not assign any of your rights or obligations under these Terms without prior written consent from TimeSwappers. TimeSwappers may assign any or all of its rights under these Terms, in whole or in part, without obtaining your consent or approval.</p>
	<p>Entire Agreement. These Terms contain the entire agreement, and supersede all prior and contemporaneous understandings, between the parties regarding their subject matter.</p>
	<p>Waiver. Our failure or delay in exercising any right, power or privilege under these Terms shall not operate as a waiver thereof.</p>
	<p>Severability. The invalidity or unenforceability of any of these Terms shall not affect the validity or enforceability of any other of these Terms, all of which shall remain in full force and effect.</p>
	<p>Headings. Headings of sections are for convenience only and shall not be used to limit or construe such sections.</p>
	<p>Survival. Sections 3.5 (Release), 4 (Member Conduct and Content), 5 (Submissions), 9 (Trademarks), 11 (Third-Party Content), 14 (Member’s Representations and Warranties), 15 (Disclaimer of Warranties), 16 (Limits on Liability), 17 (Indemnity), 19 (Disputes), and this Section 20 (Miscellaneous) shall survive any termination or expiration of these Terms.</p>
</div>