<% provide(:title, 'Thank You') %>

<div class="container-static">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= render 'layouts/account_navigation' %>
			</div>

			<div class="col-md-9">
			<h1>Thank You</h1>
			<p>Your contract agreement has been submitted. The other party will have 48 hours to submit his or her contract. If both parties agree to the specifications of the contract, you will receive a notice that you are in agreement.</p>
			<p>If you are not in agreement, you will be notified that the contract did not save, and you and the other party will need to resubmit the contract with the agreed-upon specifications.</p>
			<hr />
			<div class="center-button">
				<%= link_to "Go to My Projects", my_projects_path, class: "btn btn-lg btn-primary" %>
			</div>
		</div>
	</div>
</div>