<% provide(:title, 'Thank You') %>

<div class="container-static">
	<div class="container">
		<%= render 'layouts/account_navigation' %>
		<div class="row">
			<div class="col-md-12">
			<h1>Thank You</h1>
			<p>Your your review has been submitted.</p>
			<hr />
			<div class="center-button">
				<%= link_to "Go to My Projects", my_projects_path, class: "btn btn-lg btn-primary" %>
			</div>
		</div>
	</div>
</div>