<% provide(:title, "Colleen Profile") %>

<div class="jumbotron">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4 profile-glimpse">
				<h2>Colleen W.</h2>
				<%= image_tag('placeholders/placeholder-person.jpg', class: "img-circle") %>
				<%= image_tag('placeholders/five-stars.png', class: "five-star") %>
				<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet."</p>
			</div>
			<div class="col-md-8">
				<h2>About Colleen:</h2>
				<p>I taught German for 23 years, and love every opportunity to speak and teach it that I can get. I live in Austin, Texas with my husband of 41 years. We enjoy the outdoors and recently discovered the wonders of herbs and organic foods. We spend our free time with our grandchildren. I also volunteer at my church's choir. I am looking forward to meeting more people who share my interests, and swapping time, too.</p>
			</div>
		</div>
	</div>
</div>