<% provide(:title, 'Complete Your Profile') %>

<div class="jumbotron">
	<div class="row">
		<div class="col-md-12">
			<h1>Complete Your Profile</h1>
			<p>Fill out at least one service you want to buy and one service you want to sell in order to complete your profile.<p>
			<p>INSERT BREADCRUMBS</p>
			<p>The information that you enter will not been saved in any way. You may simply hit submit to move forward.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-lg-6">
					<h3>I want to buy:</h3>
					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Clean and Tidy" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div>
					
					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Helping Hand" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Beauty and Fitness" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Tutoring and Teaching" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Business Services" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Business Services" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Party and Entertainment" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

				</div><!-- /.col-lg-6 -->
				<div class="col-lg-6">
					<h3>I want to sell:</h3>
					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Clean and Tidy" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div>
					
					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Helping Hand" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Beauty and Fitness" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Tutoring and Teaching" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Business Services" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Business Services" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
					</div><!-- /input-group -->

					<div class="input-group project-list">
						<span class="input-group-addon">
							<input type="checkbox" aria-label="...">
						</span>
						<input type="text" value="Party and Entertainment" class="form-control" id="basic-url" aria-describedby="basic-addon3">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<div class="center-button">
				<%= link_to "Continue", profile_page_3_path, class: "btn btn-lg btn-primary" %>
			</div>
		</div>
	</div>
</div>