/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	box-sizing: border-box;
}

body {
	font-family: Raleway;
}

.container-static {
	margin-top: 75px;
	margin-bottom: 75px;
}

.hero, .center, .center-button, .offer, .profile-glimpse {
	text-align: center;
}

.offer, .safety {
	padding: 25px;
}

.middle-page {
	padding: 25px;
	width: 25%;
	text-align: center;
}

.project-list {
	margin-bottom: 5px;
}

.form-control[readonly] {
	background-color: white;
}

.btn-primary {
	background-color: #38b44a;
	border-color: #28c53f;
}

.placeholder {
	width: 100%;
    height: 225px;
    background-color: grey;
    color: white;
    text-align: center;
}

.img-circle {
	border-radius: 50%;
	width: 100%;
}

.what-is-ts {
	margin: 20px 20px 50px 20px;
}

.five-star {
	width: 100%;
}

.policy-list {
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 200;
}

.navbar-footer {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
 }

.sidebar {
	background-color: #f8f8f8;
	border: 1px solid;
    border-color: #e7e7e7;
    top: 0;
    border-width: 0 0 1px;
    border-radius: 6px;
    padding: 10px;
}

.nav > li > a {
    position: relative;
    display: block;
    color: #777;
}

.progress {
	height: 40px;
}

.progress-bar {
	padding: 10px;
	font-size: 16px;
}

.transaction-heading {
	font-weight: bold;
}

/* Begin Thumbtack Styles */
.hero-background {
	background-image: image-url("hero-image.jpg");
	background-size: cover;
	min-height: 400px;
	text-align: center;
	align-items: center;
}

.hero-background, .wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
	width: 100%;
}

.wrapper {
	width: 950px;
	margin: 0 auto;
    position: relative;
}

.dynamic-row {
	color: white;
	position: relative;
    max-width: 960px;
    margin: 0 auto;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box-content {
	padding: 25px;
}

.hero-navigation {
	width: 100%;
	padding-top: 15px;
	border-bottom: 1px solid #ebebeb;
    text-align: center;
    height: 41px;
}

#hero-navigation-li {
	border-right: 1px solid #ebebeb;
    text-transform: uppercase;
    font-size: 11.9px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 16%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

/* End Thumbtack Styles */

#hero-navigation-sub {
	padding: 15px;
	width: 100%;
	font-size: 1em;
}

.below-hero {
	margin-top: 25px;
}

.full-length-divider {
	background-color: #ebebeb;
	text-align: center;
	align-items: center;
	border: 1px solid #ebebeb;
}

.dynamic-row-divider, .how-it-works {
	color: black;
}

.glyphicon {
	font-size: 3em;
	color: #632777;
}

.social {
	width: 50%;
}

.o-or-divider {
    align-items: center;
}

.inactiveLink {
	color: black;
	cursor: pointer;
}