<div class="sidebar">
	<nav role="navigation">
		<ul class="nav nav-sidebar">
			<li role="presentation"><%= link_to "Get Help Gallery", get_help_gallery_path %></a></li>
			<li role="presentation"><%= link_to "Give Help Gallery", give_help_gallery_path %></li>
			<li><hr /></li>
			<li role="presentation"><a href="#">Notifications</a></li>
			<li role="presentation"><a href="#">Post Project: Get Help</a></li>
			<li role="presentation"><a href="#">Post Project: Give Help</a></li>
			<li role="presentation"><a href="#">My Favorite Projects</a></li>
			<li role="presentation"><a href="#">My Bank</a></li>
			<li role="presentation"><a href="#">My Transactions</a></li>
			<li><hr /></li>
			<li role="presentation"><a href="#">Update Profile</a></li>
			<li role="presentation"><a href="#">Delete Account</a></li>
		</ul>
	</nav>
</div>